@import "assets/variables";
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';

/* You can add global styles to this file, and also import other style files */
.main{
    width: 80%;
    margin: 30px auto;
    .custom-row{
        width: 80%;
        input{
            &.ng-invalid.ng-touched{
                border:1px solid red;
            }
        }
        button{
            margin-bottom: 20px;
        }
    }
}